name: Build Release

# Controls when the workflow will run
on:
  push:
    tags:
      - 'v*.*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: auto

      - name: Install Pebble SDK
        run: |
          uv tool install pebble-tool
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install Pebble SDK dependencies
        run: |
          pebble sdk install latest

      - name: Build watchface
        env:
          OPENWEATHERMAP_API_KEY: ${{ secrets.OPENWEATHERMAP_API_KEY }}
        run: make

      - name: Upload PBW to Action
        uses: actions/upload-artifact@v4
        with:
          name: minimalin-reborn
          path: ${{ github.workspace }}/build/*.pbw

      - name: Rename PBW with version
        if: github.ref_type == 'tag'
        run: |
          for f in ${{ github.workspace }}/build/*.pbw; do
            mv "$f" "${f%.pbw}-${{ github.ref_name }}.pbw"
          done

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          generate_release_notes: true
          files: |
            ${{ github.workspace }}/build/*.pbw
